<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Voice_Recognition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188564CD1EF2D961007C4AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188564E11EF2D961007C4AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188564EC1EF2D962007C4AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
